h1{
    text-align: center;
}
.navi ul{
    background-color: black;
    padding: 0%;
    list-style-type: none;
    overflow: hidden;
    
}
.navi ul li{
    float: left;
}
.navi ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.navi ul li a:hover{
    background-color: rgb(255, 0, 0);
}

body{
    background-color: rgb(102, 205, 240);
}