.dropdown{
  display: inline-block;
  float: left;
}
.dropdown button {
  background-color: #1ca6d8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}
.dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
}
.dropdown .content {
  display: none;
  position: absolute;
  background-color: #5e8ee1;
  min-width: 160px;
  box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.2);
  
}
.dropdown:hover .content {
  display: block;
}
.dropdown:hover button {
  background-color: #a5ddf5;
}
.dropdown a:hover{
  background-color: #8453ef;
}

h1{
    text-align: center;
}
#ul1{
    text-align: center;
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#ul1 li{
    display: block;
    text-align: center;
    padding: 5px;
    width: 200px;
    margin-bottom: 5px;
    text-decoration: none;
    background-color: #00bbff;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 10px;
}
#ul1 a li{
    color: white;
    text-decoration: none;
}
#ul1 a{
    text-decoration: none;
}
#ul1 li:hover{
    background-color: #a5ddf5;
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
